<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="platform_customer"  />
	<!-- 使用zookeeper注册中心暴露服务地址 -->  
	<dubbo:registry address="zookeeper://127.0.0.1:2171" check="true" />
	<!-- 声明需要暴露的服务接口 -->
	<dubbo:reference id="coreService" interface="com.common.service.CoreService" init="true">
	</dubbo:reference>
	<dubbo:reference id="commonService" interface="com.common.service.CommonService" init="true">
		<dubbo:method name="queryFullSql" timeout="1200000" retries="2"/>
		<dubbo:method name="getQueryMapByQuery" timeout="1200000" retries="2"/>
		<dubbo:method name="getKeybyMapTabCol" timeout="1200000" retries="2"/>
		<dubbo:method name="queryListSql" timeout="1200000" retries="2"/>
		<dubbo:method name="queryBigSql" timeout="1200000" retries="2"/>
		<dubbo:method name="getQueryBigList" timeout="1200000" retries="2"/>
	</dubbo:reference>
	<dubbo:reference id="workflowService" interface="com.common.service.WorkflowService" init="true" >
		<dubbo:method name="deployWFModel" timeout="20000"/>
		<!-- 新方案策略 -->
		<dubbo:method name="openWFModel" timeout="1200000"/>
		<dubbo:method name="saveWFModelByMap" timeout="1200000"/>
		<dubbo:method name="deployWFModelByRedisKey" timeout="1200000"/>
		<dubbo:method name="delDeploymentByMap" timeout="1200000"/>
		<dubbo:method name="deleteModelByMap" timeout="1200000"/>
		<dubbo:method name="delAllDeployment" timeout="1200000"/>
		<dubbo:method name="saveBusinessKey" timeout="1200000"/>
		<dubbo:method name="saveWFUrlInfo" timeout="1200000"/>
		<dubbo:method name="startProcess" timeout="1200000"/>
		<dubbo:method name="startWorkflow" timeout="1200000"/>
		<dubbo:method name="getCurrTask" timeout="1200000"/>
		<dubbo:method name="delRunWF" timeout="1200000"/>
	</dubbo:reference>
	<dubbo:reference id="quartzScheduleService" interface="com.common.service.QuartzScheduleService" init="true" />
	<dubbo:reference id="userService" interface="com.common.service.UserService" init="true" />
	<dubbo:reference id="userRoleService" interface="com.common.service.UserRoleService" init="true" />
</beans>