input[type=checkbox], input[type=radio] {
  left:0px;
  position:inherit;
  opacity:1;
  z-index: 12;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
#titleName{
	font-size: 16px;
	margin-top:2px;
	margin-bottom:2px;
}
.divcontent{
	background:#FFF;
}
.widgetQuery{
	margin-bottom:10px;
}
.divTitle{
	text-align:left;
}
#pageContent{
	padding-bottom:0px;
}
#pageBody{
	padding-bottom:0px;
}
.input-group-addon{
	padding: 6px 4px;
}
.actions{
	z-index:995;
}
.input-group{
	width:80%;
}
.form-horizontal .form-group{
	margin-left:0px;
	margin-right:0px;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
	height:32px;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group>.btn:first-child {
    margin: 0;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group>.btn, .btn-group+.btn {
    margin: 0;
}
.btn-group>.btn, .btn-group>.btn+.btn {
    margin: 0;
}
.widget-buttons .btn {
    margin-top: -2px;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.querybutton {
}
.btn, .btn-default, .btn:focus, .btn-default:focus {
    color: #444;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative;
    display: inline-block;
    color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    font-size: 13px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    padding: 1px 6px;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
}
user agent stylesheet
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
user agent stylesheet
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
user agent stylesheet
button {
    -webkit-appearance: button;
}
.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
    font-size: 13px;
}
.validator-group{
	margin-left:160px;
}
.row-fluid .span12 {
	float: left;
    width: 100%;
}
.row-fluid .span11 {
	float: left;
    width: 91.45%;
}
.row-fluid .span10 {
	float: left;
    width: 82.90598290598291%;
}
.row-fluid .span9 {
	float: left;
    width: 74.35897435897436%;
}
.row-fluid .span8 {
	float: left;
    width: 65.81196581196582%;
}
.row-fluid .span7 {
	float: left;
    width: 57.26495726495726%;
}
.row-fluid .span6 {
	float: left;
    width: 48.717948717948715%;
}
.row-fluid .span5 {
	float: left;
    width: 99%;
}
.row-fluid .span4 {
	float: left;
    width: 31.623931623931625%;
}
.row-fluid .span3 {
	float: left;
    width: 23.076923076923077%;
}
.row-fluid .span2 {
	float: left;
    width: 14.52991452991453%;
}
.row-fluid .span1 {
	float: left;
    width: 5.982905982905983%;
}
.row-fluid {
    width: 100%;
}
.clearfix {
}
.control-label{
	float:left;
}