#header {
    height: 72px;
    background: #046ab2;
    padding-left: 5px;
	padding-top: 10px;
    position: relative;
    background-image: url(../img/navbg.png);
}
.headerTop{
	position: absolute;
    top: 4px;
    right: 0px;
    z-index: 2;
}
.headerTop li a,span {
    color: #fff;
    font-size: 11px;
}
.headerTop ul{
    list-style: none;
}
.headerTop li {
    height: 12px;
    float: right;
    padding: 0 15px;
    border-right: 1px solid #fff;
    line-height: 10px;
}
.nav > li.menuactive{
    border-left: 0px solid #293846;
    background: #293846;
}
body.fixed-sidebar .navbar-static-side,
body.canvas-menu .navbar-static-side {
    position: fixed;
    width: 200px;
    z-index: 2001;
    height: 100%;
}
#page-wrapper {
    padding: 0 15px;
    position: inherit;
    margin: 0 0 0 200px;
}
#content-main {
    height: calc(100% - 120px);
    overflow: hidden;
}
.footer {
    padding: 6px 20px 0px;
    margin: 0 -26px;
    height: 26px;
}