body{
	font-family: '微软雅黑';
}
.ztree li span.button.switch.level0 {visibility:hidden; width:1px;}
.ztree li ul.level0 {padding:0; background:none;}
.treebutton {background-repeat: no-repeat;border:0px;text-align:right;height:18px;background-color:#ffffff;width:50px;}
.treelist{
	background-color: #fbfbfb;
	-webkit-box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
	-moz-box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
	box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
	padding: 12px;
}
.treebody{
	position: relative;
	min-height: 1px;
	padding-top: 20px;
	padding-left: 20px;
}