<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="processEngineConfiguration"
		class="com.common.workflow.activiti.transaction.ProcessEngineConfiguration">
		<property name="dbutilsTemplate" ref="dbutilsTemplate" />
		<property name="databaseSchemaUpdate" value="false" />
		<property name="jobExecutorActivate" value="false" />
		<property name="transactionManager" ref="transactionManager"/>
		<property name="idGenerator" ref="uuidGenerator" />
		<property name="eventListeners">  
      			<list>  
        			<ref bean="globalEventListener"/>  
      			</list>  
    		</property> 
    		<property name="activityFontName" value="宋体"/>
		<property name="labelFontName" value="宋体"/>
	</bean>
	<bean id="uuidGenerator" class="com.common.workflow.activiti.persistence.StrongUuidGenerator" />
	<bean id="shiroLoginPass" class="com.common.service.impl.ShiroLoginPass"></bean>
	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>
	<bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />
	<bean id="identityService" factory-bean="processEngine"	factory-method="getIdentityService" />
	<bean id="formService" factory-bean="processEngine" factory-method="getFormService"/>
	<bean id="workflowService" class="com.common.service.impl.WorkflowServiceImpl">
		<property name="runtimeService" ref="runtimeService" />
		<property name="taskService" ref="taskService" />
		<property name="historyService" ref="historyService" />
		<property name="repositoryService" ref="repositoryService" />
		<property name="identityService" ref="identityService" />
		<property name="managementService" ref="managementService" />
		<property name="formService" ref="formService" />
		<property name="commonService" ref="commonService" />
		<property name="coreService" ref="coreService" />
	</bean>
	<!-- 全局任务监听 TaskListener -->
	<bean id="globalEventListener" class="com.common.workflow.activiti.listener.GlobalEventListener">
		<property name="handlers">  
			<map>
				<!--
				<entry key="TASK_CREATED" value="autoCompleteFirstTaskListener"/>
				<entry key="TASK_ASSIGNED" value="taskAssignedListener"/>  
				<entry key="PROCESS_COMPLETED" value="processCompleteListener"/>  
				<entry key="ACTIVITY_STARTED" value="activityStartedListener"/>  
				<entry key="ACTIVITY_COMPLETED" value="activityCompletedListener"/>  
				<entry key="ACTIVITY_SIGNALED" value="activitySignaledListener"/>
				-->  
			</map>  
		</property>
	</bean>
</beans>