.droppable-active {
	background-color: #ffe !important;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
	height:30px;
}
.tools a {
	cursor: pointer;
	font-size: 80%;
}
.form-body .col-md-6,.form-body .col-md-12 {
	min-height: 400px;
}
.draggable {
	cursor: move;
}
.wizard ul{
	width:100%;
}
.wizard ul li{
	line-height: 20px;
}
.content{
	height: 400px;
}
.actions a {
	line-height:20px;
}
.btn{
	background: #fff;
	text-shadow: inset 0 1px 0 rgba(255,255,255,0), 0 1px 2px rgba(0,0,0,0);
}
.controlPic{
	width:240px;
}
.wizard > .steps > ul > li {
    width:auto;
}
fieldset > .row:first-child{
	margin-top:44px;
}
fieldset > .row{
	margin-top:20px;
}
.box > .preview
{
	padding-left:20px;
}
.nav-list > li:first-child{
	margin-top:10px;
}
.sidebar-nav .nav-header {
	padding-left:20px;
}
.tbTable{
	width:100%;
}
.modal-body{
	max-height:100%;
}